---
layout: default
---

<header class="site-masthead">
    {% include menu.html %}
    
    {% if site.title %}
      <h2>
        {{ site.description }}
      </h2>
    {% endif %}
  </header>

{% for post in paginator.posts %}
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting" id="main" role="article" aria-label="Content">
    

    {% if post.title != "" %}
    <h1 class="post-title divided p-name" itemprop="name headline"><a href="{{ post.url }}">
      {{ post.title }}
    </a>
    </h1>
    {% endif %}

        {% if post.image %}
        <img class="img" src={{ post.image }} alt="Feature Image"/>
        {% endif %}


        <div class="post-content e-content" itemprop="articleBody">
    {{ post.content }}
  </div>

      <div class="post-meta">
    {% if post.author %}
      <div itemprop="author" >{{ post.author }}</div>
    {% endif %}
    {% if post.translator %}
    <div itemprop="author">(Traducido por {{ post.translator }})</div>
    {% endif %}
    <time class="post-date dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %-d, %Y" }}</time>
  </div>
    </article>
    {% endfor %}



    <main class="paags">


  {% if site.paginate and site.paginate_path %}

    {% if paginator.total_pages > 1 %}

      <div class="post-pagination">
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | prepend: site.baseurl  }}" class="pagination-next btn">&lang;&nbsp;Older</a>
        {% else %}
          <span>&nbsp;</span>
        {% endif %}
        <span class="pagination-number">{{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="pagination-previous btn">Newer&nbsp;&rang;</a>
        {% else %}
          <span>&nbsp;</span>
        {% endif %}
      </div>

    {% endif %}

  {% else %}

    <ul class="post-list">
      {% for post in site.posts %}
        {% include post-list-item.html %}
      {% endfor %}
    </ul>
  
  {% endif %}
    

</main>